html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121213;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

#alert-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the word display container */
#guessesDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for individual word rows */
.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for individual letter boxes */
.dynamic-div {
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: #FFFFFF;
    align-items: center;
    justify-content: center;
    margin: 2px;
}

#virtualKeyboard {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.keyboard-row {
    display: flex;
    margin-bottom: 5px;
}

/* Style for individual keyboard keys */
.key-button {
    text-align: center;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    font-size: 20px;
    width: 25px;
    height: 35px;
    margin: 3px;
    border: 2px solid #818384;
    border-radius: 5px;
    background: #818384;
    color: #ffffff;
}

.correct {
    background-color: #538d4E;
    border: 1px solid #538d4E;
}

.partial {
    background-color: #b59f3b;
    border: 1px solid #b59f3b;
}

.incorrect {
    background-color: #3a3a3c;
    border: 1px solid #3a3a3c;
}

.none {
    background-color: #121213;
    border: 1px solid #818384;
    width: 60px;
    height: 60px;
    margin: 2px;
}

.alert {
    background-color: #430b10;
    color: #FFFFFF;
    padding: 10px; /* Reduced padding */
    margin: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    display: flex; /* Enable flexbox */
    flex-direction: row;
    align-items: center; /* Center items vertically */
    justify-content: center; /* Center items horizontally */
    text-align: center; /* Center the text */
}

.alert-button {
    background-color: #FFFFFF; /* White background for contrast */
    color: #430b10; /* Matches the alert background color for consistent design */
    border: none; /* Remove default border */
    padding: 5px 10px; /* Add some padding for a clickable area */
    margin: 0; /* Remove margin */
    cursor: pointer; /* Pointer cursor */
    font-family: 'Franklin Gothic', Arial, Helvetica; /* Matching font */
    border-left-style: solid;
    border-left-width: 20px;
    align-self: center; /* Center the button vertically within the flex container */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    text-align: center; /* Center the text */
    width: 100%; /* Ensure the button takes full width of its container */
    max-width: 200px; /* Set a maximum width to prevent it from stretching too much */
    border-radius: 3px; /* Make the edges subtle with slight rounding */
}

.alert-button:hover {
    background-color: #f1f1f1;
}
