html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 18, 19);
}

/* General Styling for .hidden class */
.hidden {
  display: none; /* Hides the container by default */
}

/* Styles for buttonContainer */
#buttonContainer {
  display: flex;
  justify-content: center;
  padding: 1rem;
  position: fixed;
  top: 20px;
  right: 20px;  
}

/* Styles for red-button */
.red-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 1.2rem;
  color: #fff;
  background-color: #d9534f;
  border: none;
  border-radius: 4px;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.red-button:hover {
  background-color: #c9302c; /* Darker red on hover */
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
}

#alert-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Style for the word display container */
#guessesDisplay {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

/* Style for individual word rows */
.div-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Style for individual letter boxes */
.dynamic-div {
    display: flex;
    text-align: center;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    font-size: 40px;
    width: 60px;
    height: 60px;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    margin: 2px;
}

#virtualKeyboard {
    display: flex;
    
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.keyboard-row {
    display: flex;
    margin-bottom: 5px;
}

/* Style for individual keyboard keys */
.key-button {
    text-align: center;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    font-size: 20px;
    width: 25px;
    height: 35px;
    margin: 3px;
    border: 2px solid rgb(129, 131, 132);
    border-radius: 5px;
    background: rgb(129, 131, 132);
    color: rgb(255, 255, 255);
}


.correct {
    background-color: rgb(83, 141, 78);
    border: 1px solid rgb(83, 141, 78);
}

.partial {
    background-color: rgb(181, 159, 59);
    border: 1px solid rgb(181, 159, 59);
}

.incorrect {
    background-color: rgb(58, 58, 60);
    border: 1px solid rgb(58, 58, 60);
}

.none {
    background-color: rgb(18, 18, 19);
    border: 1px solid rgb(129, 131, 132);
    width: 60px;
    height: 60px;
    margin: 2px;
}

.alert {
    background-color: rgb(67, 11, 16);
    color: rgb(255, 255, 255);
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 30px;
    text-align: center;
    padding-right: 20px;
    gap: 10px;
}

#alert-container {
    display: flex;
    gap: 10px;
}

.alert-button {
    background-color: rgb(255, 255, 255);
    color: rgb(67, 11, 16);
    border: 1px solid rgb(67, 11, 16);
    padding: 5px 10px;
    margin: 0;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'Franklin Gothic', Arial, Helvetica;
    border-left-width: 20px;
    align-self: center;
    box-sizing: border-box;
    text-align: center;
    min-height: 30px;
    max-width: 80px;
}

@media (max-width: 600px) {
    .alert-button {
        max-width: 60px;
        min-height: 25px;
        padding: 4px 8px;
    }
}

.alert-button:hover {
    background-color: rgb(241, 241, 241);
}
